matrix-nio[e2e] @ https://github.com/WhyNotHugo/matrix-nio/archive/1eb65b6335edc176fad7df29446585efbff19c43.tar.gz
aiohttp>=3.10.3,<4.0.0
aiofiles>=23.2.1
beautifulsoup4>=4.12.3
lxml>=5.2.2
PyYAML>=6.0.2
pytz>=2024.2
pytest>=8.2.2
pytest-asyncio>=0.23.8
pytest-mock>=3.14.0
